.product {
  /* width: 160px;
  border-radius: 10px;
  background-color: #f7f8f8;
  box-shadow: 0 3px 3px rgb(223, 223, 223); */
  /* margin-left: 5px;
  margin-right: 5px; */
}

.imageContainer {
  width: 150px;
}
.productPricing {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .title {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: -10px;
}
.productPricing .badge {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}
.productPricing i {
  color: red;
  font-size: 16px;
}
.productContainer {
  padding-top: 15px;
}
.productsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Added by Rohit */
/* Making page responsive for all devices */
@media(max-width:1998px){
  .product {
    width: 160px;
    border-radius: 10px;
    background-color: #f7f8f8;
    box-shadow: 0 3px 3px rgb(223, 223, 223);
    margin: 10px;
    padding: 5px;
  }
}
@media(max-width:998px){
  .product{
    margin: 10px;
    /* padding:10px; */
  }
}
@media(max-width:590px){
  .product{
    margin: 5px;
    /* padding:5px; */
  }
}
@media(max-width:380px){
  .product{
    width: 140px;
  }
  .img-fluid{
    width: 130px;
  }
}
.img-fluid{
  border-radius: 10%;
}
